Source: readingdb-python
Section: database
Priority: optional
Maintainer: Stephen Dawson-Haggerty <stevedh@eecs.berkeley.edu>
Build-Depends: debhelper (>= 7.0.50~), dh-autoreconf, cdbs (>= 0.4.49),
  python-all-dev, python-support (>= 0.6), python-numpy-dev,
  python-numpy, libprotobuf-c0-dev, libprotobuf-c0,
  libdb5.3-dev
XS-Python-Version: >= 2.6
Standards-Version: 3.8.4

Package: readingdb-python
Architecture: any
Section: database
Priority: optional
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-numpy,
  libprotobuf-c0
Homepage: https://github.com/stevedh/readingdb
Description: python bindings for accessing a readingdb database
